* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    background: rgba(125, 20, 174, 0.03);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: NotoSerif__Bold;
    src: url('../Fonts/Noto_Serif/NotoSerif-Bold.ttf');
}


@font-face {
    font-family: NotoSerif__Regular;
    src: url('../Fonts/Noto_Serif/NotoSerif-Regular.ttf');
}

/* top header starts here */

.brand-img {
    margin: 0px 58px;
}


.green-column-aside .fa-solid {
    position: absolute;
    z-index: 999;
    vertical-align: middle;
    padding: 10px;
    color: rgba(80, 80, 80, 1);
}

.green-column-aside [type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
    position: relative;
    width: 80%;
    background: #FBF8FD;
    border: 0.5px dashed #7C28D9;
    border-radius: 15px;
    outline: none;
    padding: 5px 40px;
}

.green-column-aside input {
    font-size: calc(10pt + 0.15vw);
    font-family: 'NotoSerif__Regular';
    letter-spacing: 0.03em;
}




.green-column-aside input::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(80, 80, 80, 1);
    opacity: 1;
    /* Firefox */
}




.green-column-aside input::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(80, 80, 80, 1);
    opacity: 1;
    /* Firefox */
}




.green-column-aside input:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(80, 80, 80, 1);
    opacity: 1;
    /* Firefox */
}




.green-column-aside input::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(80, 80, 80, 1);
    opacity: 1;
    /* Firefox */
}




.green-column-aside input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(80, 80, 80, 1);
    opacity: 1;
    /* Firefox */
}

.green-column-aside input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(80, 80, 80, 1);
}

.green-column-aside input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(80, 80, 80, 1);
}


.row_aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 24px rgba(125, 20, 174, 0.18);
    box-shadow: 0px 10px 24px rgba(125, 20, 174, 0.18);
    border-radius: 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 20px;
    position: fixed;
    z-index: 99999;
}

.column__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


.blue-column__aside {
    height: auto;
}

.green-column-aside {
    height: auto;
}

.bell-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Jane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.solids {
    text-align: end;
}

.Jane p {
    margin-bottom: 0;
    margin: 0px 20px;
    text-align: left;
    font-size: calc(9pt + 0.15vw);
    font-family: 'NotoSerif__Regular';
    letter-spacing: 0.03em;
}


.Jane p span {
    font-size: calc(8pt + 0.15vw);
}

.Jane .svg-con {
    font-size: 20px;
    margin: 0px 15px;
    color: rgba(124, 40, 217, 1);
}



.dropdown-item {
    font-size: calc(9pt + 0.15vw);
    font-family: 'NotoSerif__Regular';
}


.dropdown-item.active, .dropdown-item:active {
    color: #1e2125;
    text-decoration: none;
    background-color: #FFFFFF;
}

.dropdown-menu {
    margin: 2rem 0rem !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: #FFFFFF;
}


@media screen and (max-width: 992px) {
    .solids {
        text-align: initial;
    }

    .Jane p {
        margin: 0px 2px;
    }
}

@media screen and (max-width: 768px) {
    .column__aside {
        text-align: center;
    }

    .solids {
        text-align: center;
        margin: 20px 0px;
    }

    .bell-grid {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    }

    .Jane p {
        margin: 0px 10px;
    }
}

/* top header ends here */

/* header starts here */
.row_side_aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.column-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
}

/* nav bar div start here */

.blue-column-side {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 24px rgba(125, 20, 174, 0.18);
    box-shadow: 0px 10px 24px rgba(125, 20, 174, 0.18);
    height: 100vh;
    position: fixed;
    max-width: 253px;
    width: 100%;
    overflow-y: auto;
}

.green-column-side {
    /* background: rgba(125, 20, 174, 0.03); */
    height: auto;
    padding-bottom: 2rem;
}

.double-column-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


.head-navigation ul li a {
    text-decoration: none;
    color: rgba(124, 40, 217, 1);
}

.head-navigation ul li {
    list-style: none;
    padding: 5px 15px;
    width: 100%;
    white-space: nowrap;
    border-radius: 0px 12px 12px 0px;
    margin-bottom: 10px;
    font-size: calc(10pt + 0.15vw);
    font-family: 'NotoSerif__Regular';
    letter-spacing: 0.03em;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.head-navigation {
    margin-top: 110px;
}

ol, ul {
    padding-left: 0rem;
}


.head-navigation span {
    padding: 0px 15px;
    vertical-align: middle;
}

.svg-icon {
    fill: rgba(124, 40, 217, 1);
}


/* nav bar div ends here */
/* hover and active link starts here */

.navigation ul li:hover {
    background: -o-linear-gradient(359.25deg, #7C28D9 3.62%, #DA42F0 99.63%);
    background: linear-gradient(90.75deg, #7C28D9 3.62%, #DA42F0 99.63%);
    -webkit-box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
    box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
}

.navigation ul li:hover a {
    color: #FFFFFF;
}

.navigation ul li:hover .svg-icon {
    fill: #FFFFFF;
}

.navigation ul li.active {
    background: -o-linear-gradient(359.25deg, #7C28D9 3.62%, #DA42F0 99.63%);
    background: linear-gradient(90.75deg, #7C28D9 3.62%, #DA42F0 99.63%);
    -webkit-box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
    box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
}



.navigation ul li.active a {
    color: #FFFFFF;
}



.navigation ul li.active .svg-icon {
    fill: #FFFFFF;
}

.navigation ul li:hover::after {
    opacity: 1;
    visibility: visible;
    /* -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
}



.navigation ul li.active::after {
    opacity: 1;
    visibility: visible;
    /* -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
}





.navigation ul li:after {
    position: absolute;
    content: "";
    background-image: url('../Assets/Polygon 1.png');
    left: 0px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 48px;
    height: 40px;
    /* -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
    opacity: 0;
    visibility: hidden;
    background-repeat: no-repeat;
}

.navigation ul li:hover::before {
    opacity: 1;
    visibility: visible;
    /* -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
}



.navigation ul li.active::before {
    opacity: 1;
    visibility: visible;
    /* -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
}


.navigation ul li::before {
    position: absolute;
    content: "";
    background-color: #FFFFFF;
    right: 7%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 7px;
    height: 56px;
    /* -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
    opacity: 0;
    visibility: hidden;
    background-repeat: no-repeat;
}



.navigation ul li {
    position: relative;
}

/* hover and active link ends here */

/* toggle navigation starts here */

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}



@media only screen and (max-width: 1280px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        max-width: 220px;
        width: 100%;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 10px 24px rgba(125, 20, 174, 0.18);
        box-shadow: 0px 10px 24px rgba(125, 20, 174, 0.18);
        height: 100vh;
        position: fixed;
        max-width: 220px;
        width: 100%;
        padding: 3rem 0 10rem 0;
        top: 7%;
        z-index: 9999;
        overflow-y: auto;
    }

    .nav-menu.active {
        left: 0;
    }


    .blue-column-side {
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto;
        z-index: 9999;
    }

    .row_side_aside {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}

@media screen and (max-width: 768px) {
    .nav-menu {
        top: 12%;
    }
}

@media screen and (max-width: 586px) {
    .nav-menu {
        top: 15%;
    }
}

@media screen and (max-width: 540px) {
    .nav-menu {
        top: 27%;
    }
}

@media screen and (max-width: 320px) {
    .nav-menu {
        top: 18%;
    }
}

/* toggle navigation ends here */

/* middle (wizard) white box starts here */

.space-sy {
    max-width: 1150px;
    margin: auto;
    margin-top: 7rem;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.title h2 {
    margin-bottom: 0;
    font-family: 'NotoSerif__Bold';
    font-size: calc(15pt + 0.15vw);
    letter-spacing: 0.03em;
    color: rgba(124, 40, 217, 1);
}

.title button {
    background: -o-linear-gradient(359.25deg, #7C28D9 3.62%, #DA42F0 99.63%);
    background: linear-gradient(90.75deg, #7C28D9 3.62%, #DA42F0 99.63%);
    -webkit-box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
    box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
    border-radius: 16px;
    border: 1px solid transparent;
    padding: 10px 10px;
    color: #FFFFFF;
    width: 25%;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-family: 'NotoSerif__Regular';
    font-size: calc(10pt + 0.15vw);
    letter-spacing: 0.03em;
}

.title button:hover {
    background: -o-linear-gradient(359.25deg, #F4E5FF 3.62%, #F4E5FF 99.63%);
    background: linear-gradient(90.75deg, #F4E5FF 3.62%, #F4E5FF 99.63%);
    color: rgba(124, 40, 217, 1);
    border: 1px solid #7C28D9;
}

.title svg {
    fill: #FFFFFF;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}

.title button:hover svg {
    fill: rgba(124, 40, 217, 1);
}

.title span {
    vertical-align: unset;
}

.content-box {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 20px 40px rgba(129, 125, 125, 0.2);
    box-shadow: 0px 20px 40px rgba(129, 125, 125, 0.2);
    border-radius: 20px;
    min-height: auto;
    padding: 20px 20px 80px 20px;
    margin-top: 1.8rem;
}

@media screen and (max-width: 768px) {
    .space-sy {
        margin-top: 10rem;
    }

    .title button {
        padding: 10px 30px;
        width: auto;
    }
}


@media screen and (max-width: 640px) {
    .space-sy {
        margin-top: 15rem;
    }

}

.stepper-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    padding-top: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.stepper-nav .stepper-item.current {
    -webkit-transition: color .2s ease, background-color .2s ease;
    -o-transition: color .2s ease, background-color .2s ease;
    transition: color .2s ease, background-color .2s ease;
}

.stepper-nav .stepper-item {
    margin-right: 3rem;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.stepper-nav .stepper-item.current .stepper-title {
    color: rgba(124, 40, 217, 1);
    font-family: 'NotoSerif__Bold';
    font-size: calc(10pt + 0.15vw);
    border-bottom: 3px solid rgba(124, 40, 217, 1);
    padding-bottom: 6px;
    letter-spacing: 0.03em;
    font-weight: 700;
}



.stepper-nav .stepper-item .stepper-title {
    color: rgba(80, 80, 80, 1);
    font-family: 'NotoSerif__Bold';
    font-size: calc(10pt + 0.15vw);
    letter-spacing: 0.03em;
    font-weight: 700;
}



.Editor {
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
}




.actives {
    background: #7C28D9;
    background: -o-linear-gradient(359.25deg, #7C28D9 3.62%, #DA42F0 99.63%);
    background: linear-gradient(90.75deg, #7C28D9 3.62%, #DA42F0 99.63%);
}

.button-div {
    float: right;
}

.button-div button {
    background: -o-linear-gradient(359.25deg, #7C28D9 3.62%, #DA42F0 99.63%);
    background: linear-gradient(90.75deg, #7C28D9 3.62%, #DA42F0 99.63%);
    -webkit-box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
    box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 8px 30px;
    color: #FFFFFF;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-size: calc(10pt + 0.15vw);
    font-family: 'NotoSerif__Bold';
}


.button-div button:hover {
    background: -o-linear-gradient(359.25deg, #F4E5FF 3.62%, #F4E5FF 99.63%);
    background: linear-gradient(90.75deg, #F4E5FF 3.62%, #F4E5FF 99.63%);
    -webkit-box-shadow: 0px 4px 12px rgba(124, 40, 217, 0.12);
    box-shadow: 0px 4px 12px rgba(124, 40, 217, 0.12);
    color: #7C28D9;
    border: 1px solid #7C28D9;
}

.button-div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.button-div1 button {
    background: -o-linear-gradient(359.25deg, #7C28D9 3.62%, #DA42F0 99.63%);
    background: linear-gradient(90.75deg, #7C28D9 3.62%, #DA42F0 99.63%);
    -webkit-box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
    box-shadow: 0px 8px 18px rgba(189, 99, 255, 0.24);
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 8px 30px;
    color: #FFFFFF;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 20%;
    font-size: calc(10pt + 0.15vw);
    font-family: 'NotoSerif__Bold';
}

.button-div1 button:hover {
    background: -o-linear-gradient(359.25deg, #F4E5FF 3.62%, #F4E5FF 99.63%);
    background: linear-gradient(90.75deg, #F4E5FF 3.62%, #F4E5FF 99.63%);
    -webkit-box-shadow: 0px 4px 12px rgba(124, 40, 217, 0.12);
    box-shadow: 0px 4px 12px rgba(124, 40, 217, 0.12);
    color: #7C28D9;
    border: 1px solid #7C28D9;
}



@media screen and (min-width: 1920px) {
    .space-sy {
        max-width: initial;
    }
}

@media screen and (max-width: 1399.98px) {
    .space-sy {
        max-width: 950px;
    }
}


@media screen and (max-width: 768px) {


    .button-div1 button {
        width: auto;
    }
}


@media screen and (max-width: 538px) {
    .stepper-nav .stepper-item .stepper-title {
        font-size: calc(10pt + 0.15vw);
    }

    .stepper-nav .stepper-item.current .stepper-title {
        font-size: calc(10pt + 0.15vw);
    }

    .stepper-nav {
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
    }
}

/* 1st step of wzard ends */





/* Hide scrollbar for Chrome, Safari and Opera */
.blue-column-side::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.blue-column-side {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.nav-menu::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nav-menu {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* middle (wizard) white box ends here */


/* 1st */
.blue-dash-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dash-gr {
    border: 1px dashed rgba(123, 40, 217, 0.583);
    border-radius: 10px;
    padding: 30px 10px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
    border: 1px dashed rgba(126, 41, 218, 1);
    background-color: #FFFFFF;
    min-height: 140px;
}

.dash-gr:hover {
    border: 1px dashed rgba(126, 41, 218, 1);
    background-color: rgba(244, 229, 255, 1);
}

.dash-gr h3 {
    color: rgba(124, 40, 217, 1);
    font-size: calc(10pt + 0.15vw);
    letter-spacing: 0.03em;
    font-family: 'NotoSerif__Bold';
}

.dash-gr p {
    color: rgba(80, 80, 80, 1);
    font-size: calc(8pt + 0.15vw);
    letter-spacing: 0.03em;
    font-family: 'NotoSerif__Regular';
    margin-bottom: 0;
}

.dash-gr span {
    margin: 0px 5px;
}

.top-editor-texts h3 {
    color: rgba(124, 40, 217, 1);
    font-size: calc(14pt + 0.15vw);
    letter-spacing: 0.03em;
    font-family: 'NotoSerif__Bold';
}

.top-editor-texts p {
    color: rgba(80, 80, 80, 1);
    font-size: calc(9pt + 0.15vw);
    letter-spacing: 0.03em;
    font-family: 'NotoSerif__Regular';
    margin-bottom: 0;
}

.wid-div .form-control {
    color: rgba(80, 80, 80, 1) !important;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px dashed rgba(124, 40, 217, 1) !important;
    border-radius: 6px;
    background-color: rgba(251, 248, 253, 1) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    font-family: 'NotoSerif__Regular';
}

.wid-div .form-control:focus {
    background-color: #ffffff !important;
    -webkit-box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
    border: 1px solid rgba(124, 40, 217, 1) !important;
}

.wid-div label {
    color: rgba(80, 80, 80, 1);
    font-family: 'NotoSerif__Regular';
    margin-bottom: 10px;
}

.select-text-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 76px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 15px;
    height: 15px;
    background: #F87DA9;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


.wid-div h3 {
    color: rgba(124, 40, 217, 1);
    font-size: calc(12pt + 0.15vw);
    letter-spacing: 0.03em;
    font-family: 'NotoSerif__Bold';
}

.file-drop-area {
    position: relative;
    padding: 0px 12px 12px 12px;
    border: 1.8px dashed rgba(124, 40, 217, 1);
    background-color: rgba(149, 225, 159, 0.361);
    background: rgba(124, 40, 217, 1);
    background: -o-linear-gradient(359.25deg, #7C28D9 3.62%, #DA42F0 99.63%);
    background: linear-gradient(90.75deg, #7C28D9 3.62%, #DA42F0 99.63%);
    -webkit-box-shadow: 0px 8px 18px rgb(189 99 255 / 24%);
    box-shadow: 0px 8px 18px rgb(189 99 255 / 24%);
    border-radius: 8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    text-align: center;
}

.file-drop-area .is-active {
    background-color: rgba(255, 255, 255, 0.05);
}


.fake-btn {
    margin-right: 10px;
    font-size: 42px;
    color: rgb(255, 255, 255);
}

.fake-btn i {
    -webkit-transform: translateY(14px);
    -ms-transform: translateY(14px);
    transform: translateY(14px);
    vertical-align: middle;
}

.file-msg {
    color: rgb(255, 255, 255);
    font-family: 'NotoSerif__Bold';
    font-size: calc(10pt + 0.15vw);
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;

}


.file-drop-area p {
    color: rgb(255, 255, 255);
    font-family: 'NotoSerif__Bold';
}


.div-no {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.div-no .One {
    margin: 0px 10px;
}

.div-no {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}


.div-no .form-control {
    color: rgba(80, 80, 80, 1) !important;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px dashed rgba(124, 40, 217, 1) !important;
    border-radius: 6px;
    background-color: rgba(251, 248, 253, 1) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
    font-family: 'NotoSerif__Regular';
}

.div-no .form-control:focus {
    background-color: #ffffff !important;
    -webkit-box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px !important;
    border: 1px solid rgba(124, 40, 217, 1) !important;
}

.div-no label {
    color: rgba(80, 80, 80, 1);
    font-family: 'NotoSerif__Regular';
    margin-bottom: 10px;
}

.div-video-vid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2em 1fr 2em 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.parent__grid__div img {
    width: 100%;
}

.dash-gr i {
    font-size: 30px;
}


.dib {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.blue-dash-grid .active {
    border: 1px dashed rgba(126, 41, 218, 1);
    background-color: rgba(244, 229, 255, 1);
}

.blue-dash-grid button {
    border: none;
    background-color: transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
}


@media screen and (max-width: 992px) {
    .blue-dash-grid {
        -ms-grid-columns: 1fr 1em 1fr;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 768px) {
    .div-no {
        display: unset;
    }

}


@media screen and (max-width: 640px) {

    .div-video-vid {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }

    .blue-dash-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);

    }
}